@font-face {
    font-family: "OpenSans";
    font-weight: normal;
    font-style: normal;
    src: url("https://github.com/Vasya24/Diploma_2/blob/master/fonts/OpenSans-Regular.woff2") format("woff2"), url("https://github.com/Vasya24/Diploma_2/blob/master/fonts/OpenSans-Regular.ttf") format("truetype"), url("https://github.com/Vasya24/Diploma_2/blob/master/fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "OpenSans";
    font-weight: bold;
    font-style: normal;
    src: url("https://github.com/Vasya24/Diploma_2/blob/master/fonts/OpenSans-Bold.woff2") format("woff2"), url("https://github.com/Vasya24/Diploma_2/blob/master/fonts/OpenSans-Bold.ttf") format("truetype"), url("https://github.com/Vasya24/Diploma_2/blob/master/fonts/OpenSans-Bold.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    font-family: "OpenSans", sans-serif;
}

@media (max-width: 640px) {
    .section-welcome {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/football_767.jpg");
        background-size: cover;
    }
    .container__welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(09, 12, 53, 0.9);
    }
    .logo {
        width: 135px;
        margin-top: 40px;
    }
    .welcome__content {
        text-transform: uppercase;
        color: #ffffff;
        font-weight: bold;
    }
    .welcome__name__container {
        display: flex;
        flex-direction: column;
        font-size: 1.75em;
        font-weight: bold;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 130px 6.25vw 85px 6.25vw;
    }
    .welcome__name__second {
        margin-top: 14px;
        margin-left: 50px;
        line-height: 1.22em;
    }
    .content-main-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 85px;
    }
    a {
        text-decoration: none;
    }
    .button_appstore {
        display: flex;
        align-items: center;
        width: 280px;
        height: 35px;
        background-color: #5e42b0;
        color: #ffffff;
        border-radius: 20px;
        text-transform: uppercase;
        font-size: 0.5em;
        margin-top: 0;
    }
    .button_appstore svg {
        width: 25px;
        fill: #ffffff;
        margin: 0 0.82em 0 0.82em;
        margin-left: 80px;
    }
    .button_googleplay {
        display: flex;
        align-items: center;
        width: 280px;
        height: 35px;
        background-color: #5e42b0;
        color: #ffffff;
        border-radius: 20px;
        text-transform: uppercase;
        font-size: 0.5em;
        margin-top: 14px;
    }
    .button_googleplay svg {
        width: 25px;
        fill: #ffffff;
        margin: 0 0.82em 0 0.82em;
        margin-left: 80px;
    }
    .athlets__content picture {
        position: absolute;
        top: 100px;
        left: 50%;
        margin-left: -90px;
    }
    .container__athlets {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .athlets__content {
        font-weight: bold;
        color: #e7e7e7;
        text-transform: uppercase;
    }
    .athlets__content h2 {
        font-size: 3.125em;
        margin: 25px 20px 245px 20px;
        letter-spacing: 1px;
    }
    .number {
        display: flex;
        align-items: center;
        margin: 60px 0 30px 20px;
        font-weight: bold;
    }
    .number h3 {
        font-size: 1.44em;
        letter-spacing: 2px;
    }
    .number span {
        border-bottom: solid 4px #5e42b0;
        font-size: 18px;
        margin-right: 10px;
        color: #000000;
    }
    .connection {
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
    }
    .connection h3 {
        font-size: 1.4375em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
    }
    .connection p {
        font-size: 0.9375em;
        margin: 0 20px 55px 20px;
        letter-spacing: 1px;
    }
    .collaboration {
        display: flex;
        flex-direction: column;
        background-color: #f5f4f9;
    }
    .collaboration h3 {
        font-size: 1.4375em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
    }
    .collaboration p {
        font-size: 0.9375em;
        margin: 0 20px 55px 20px;
        letter-spacing: 1px;
    }
    .growth__number {
        display: flex;
        align-items: center;
        margin: 60px 0 30px 20px;
        font-weight: bold;
        color: #000000;
    }
    .growth__number span {
        border-bottom: solid 4px #ffffff;
        font-size: 1.14em;
        margin-right: 10px;
    }
    .growth__number h3 {
        font-size: 1.44em;
        letter-spacing: 2px;
    }
    .athlets__growth {
        display: flex;
        flex-direction: column;
        background-color: #5e42b0;
    }
    .athlets__growth h3 {
        font-size: 1.4375em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
    }
    .athlets__growth p {
        font-size: 0.9375em;
        margin: 0 20px 55px 20px;
        letter-spacing: 1px;
        color: #ffffff;
    }
    .players__content picture {
        position: absolute;
        left: 50%;
        margin-left: -150px;
        top: 100px;
    }
    .container__players {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .players__content {
        font-weight: bold;
        color: #e7e7e7;
        text-transform: uppercase;
    }
    .players__content h2 {
        font-size: 3.125em;
        margin: 25px 20px 245px 20px;
        letter-spacing: 1px;
    }
    .growth__number__players {
        display: flex;
        align-items: center;
        margin: 60px 0 30px 20px;
        font-weight: bold;
        color: #8765dd;
    }
    .growth__number__players span {
        border-bottom: solid 4px #ffffff;
        font-size: 1.14em;
        margin-right: 10px;
    }
    .growth__number__players h3 {
        font-size: 1.44em;
        letter-spacing: 2px;
    }
    .players__growth {
        display: flex;
        flex-direction: column;
        background-color: #090c35;
    }
    .players__growth h3 {
        font-size: 1.4375em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
    }
    .players__growth p {
        font-size: 0.9375em;
        margin: 0 20px 55px 20px;
        letter-spacing: 1px;
        color: #ffffff;
    }
    .container__beactive {
        display: flex;
        flex-direction: column;
    }
    .number__box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 70px;
        height: 75px;
        background-color: #5e42b0;
        top: -60px;
        left: 20px;
    }
    .number__box span {
        border-bottom: solid 4px #8f7bc8;
        font-size: 1.125em;
        color: #ffffff;
        font-weight: bold;
    }
    .image__beactive {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/be-active_640.jpg");
        background-size: cover;
        height: 110vw;
    }
    .content__beactive {
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        position: relative;
    }
    .content__beactive h2 {
        font-size: 1.75em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
        margin: 35px 20px 28px 20px;
    }
    .content__beactive p {
        font-size: 0.9375em;
        margin: 0 20px 55px 20px;
        letter-spacing: 1px;
    }
    .container__findcontact {
        display: flex;
        flex-direction: column;
    }
    .image__findcontact {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/find-contact_640.jpg");
        background-size: cover;
        height: 110vw;
    }
    .content__findcontact {
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        position: relative;
    }
    .content__findcontact h2 {
        font-size: 1.75em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
        margin: 35px 20px 28px 20px;
    }
    .content__findcontact p {
        font-size: 0.9375em;
        margin: 0 20px 55px 20px;
        letter-spacing: 1px;
    }
    .container__workit {
        display: flex;
        flex-direction: column;
    }
    .image__workit {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/work-it_640.jpg");
        background-size: cover;
        height: 110vw;
    }
    .content__workit {
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        position: relative;
    }
    .content__workit h2 {
        font-size: 1.75em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
        margin: 35px 20px 28px 20px;
    }
    .content__workit p {
        font-size: 0.9375em;
        margin: 0 20px 55px 20px;
        letter-spacing: 1px;
    }
    .section-download {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/game_767.jpg");
        background-size: cover;
        background-position: right;
    }
    .container__download {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(09, 12, 53, 0.9);
    }
    .container__downloadapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0 75px 0;
    }
    .download_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 75px;
        background-color: #5e42b0;
        color: #ffffff;
        border-radius: 20px;
        text-transform: uppercase;
        margin-bottom: 60px;
    }
    .download_icon svg {
        height: 50px;
        fill: #ffffff;
    }
    .logo__footer {
        margin-bottom: 10px;
        width: 135px;
    }
    .download__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
    }
    .download__content h2 {
        font-size: 2em;
        color: #ffffff;
        font-weight: bold;
        margin: 0;
        letter-spacing: 1px;
    }
    .download__content p {
        font: 14px "OpenSans-Regular", sans-serif;
        color: #9b8ec1;
        margin: 5px;
        letter-spacing: 0px;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .section-welcome {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/football_1280.jpg");
        background-size: cover;
        background-position: center;
    }
    .container__welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(09, 12, 53, 0.9);
    }
    .logo {
        width: 210px;
        margin-top: 40px;
    }
    .welcome__content {
        text-transform: uppercase;
        color: #ffffff;
        font-weight: bold;
    }
    .welcome__name__container {
        font-size: 64px;
        font-weight: bold;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 180px 7vw 315px 7vw;
    }
    .welcome__name {
        margin-top: 0;
    }
    .welcome__name__second {
        margin-top: 14px;
        margin-left: 120px;
        display: block;
        line-height: 1.22em;
    }
    .content-main-button {
        display: flex;
        align-items: center;
        margin-bottom: 85px;
    }
    a {
        text-decoration: none;
    }
    .button_appstore {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 315px;
        height: 77px;
        background-color: #5e42b0;
        color: #ffffff;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 0.875em;
        margin-top: 0;
        margin-right: 30px;
    }
    .button_appstore svg {
        width: 45px;
        fill: #ffffff;
        margin-right: 30px;
    }
    .button_googleplay {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 315px;
        height: 77px;
        background-color: #5e42b0;
        color: #ffffff;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 0.875em;
    }
    .button_googleplay svg {
        width: 47px;
        fill: #ffffff;
        margin-right: 30px;
    }
    .athlets__content picture {
        position: absolute;
        bottom: 0;
        left: -170px;
        top: 90px;
    }
    .container__athlets {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .section-athlets p {
        margin: 0 25px 30px 290px;
        line-height: 1.5;
    }
    .athlets__content {
        font-weight: bold;
        color: #e7e7e7;
        text-transform: uppercase;
    }
    .athlets__content h2 {
        font-size: 5em;
        margin: 70px 25px 0px 290px;
        letter-spacing: 1px;
    }
    .number {
        display: flex;
        align-items: center;
        margin: 40px 0 25px 290px;
        font-weight: bold;
        color: #000000;
    }
    .number span {
        border-bottom: solid 4px #5e42b0;
        font-size: 1.125em;
        margin: 0 10px 0 0;
    }
    .number h3 {
        font-size: 2em;
        letter-spacing: 2px;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
        margin: 0;
    }
    .connection {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
    }
    .collaboration {
        display: flex;
        flex-direction: column;
        background-color: #f5f4f9;
    }
    .growth__number {
        display: flex;
        align-items: center;
        margin: 40px 0 25px 290px;
        font-weight: bold;
        color: #000000;
    }
    .growth__number span {
        border-bottom: solid 4px #ffffff;
        font-size: 1.125em;
        margin: 0 10px 0 0;
    }
    .growth__number h2 {
        font-size: 1.44em;
        letter-spacing: 2px;
        margin: 0;
    }
    .athlets__growth {
        display: flex;
        flex-direction: column;
        background-color: #5e42b0;
    }
    .athlets__growth h3 {
        font-size: 1.4375em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
    }
    .athlets__growth p {
        font-size: 1em;
        letter-spacing: 1px;
        color: #ffffff;
        margin: 0 25px 30px 290px;
        line-height: 1.5;
    }
    .players__content picture {
        position: absolute;
        bottom: 0;
        top: 65px;
        right: 0;
    }
    .section-players p {
        margin: 0 300px 30px 30px;
        line-height: 1.5;
    }
    .section-players .number {
        margin: 40px 0 25px 30px;
    }
    .container__players {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .players__content {
        font-weight: bold;
        color: #e7e7e7;
        text-transform: uppercase;
    }
    .players__content h2 {
        font-size: 5em;
        margin: 70px 25px 0 30px;
        letter-spacing: 1px;
    }
    .growth__number__players {
        display: flex;
        align-items: center;
        margin: 40px 0 25px 30px;
        font-weight: bold;
        color: #8765dd;
    }
    .growth__number__players span {
        border-bottom: solid 4px #ffffff;
        font-size: 1.125em;
        margin: 0 10px 0 0;
    }
    .growth__number__players h3 {
        font-size: 1.44em;
        letter-spacing: 2px;
        margin: 0;
    }
    .players__growth {
        display: flex;
        flex-direction: column;
        background-color: #090c35;
    }
    .players__growth h3 {
        font-size: 1.4375em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
    }
    .players__growth p {
        letter-spacing: 1px;
        color: #ffffff;
        margin: 0 300px 30px 30px;
        line-height: 1.5;
    }
    .container__beactive {
        display: flex;
        flex-direction: column;
    }
    .number__box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #5e42b0;
        top: -80px;
        left: 30px;
    }
    .number__box span {
        border-bottom: solid 4px #8f7bc8;
        font-size: 1.5em;
        color: #ffffff;
        font-weight: bold;
    }
    .image__beactive {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/be-active_960.jpg");
        background-size: cover;
        height: 75vw;
    }
    .content__beactive {
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        position: relative;
    }
    .content__beactive h2 {
        font-size: 5em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
        margin: 90px 30px 40px 30px;
    }
    .content__beactive p {
        font-size: 1.5em;
        margin: 0 30px 90px 30px;
        letter-spacing: 1px;
    }
    .container__findcontact {
        display: flex;
        flex-direction: column;
    }
    .image__findcontact {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/find-contact_960.jpg");
        background-size: cover;
        height: 75vw;
    }
    .content__findcontact {
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        position: relative;
    }
    .content__findcontact h2 {
        font-size: 5em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
        margin: 90px 30px 40px 30px;
    }
    .content__findcontact p {
        font-size: 1.5em;
        margin: 0 30px 90px 30px;
        letter-spacing: 1px;
    }
    .container__workit {
        display: flex;
        flex-direction: column;
    }
    .image__workit {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/work-it_960.jpg");
        background-size: cover;
        height: 75vw;
    }
    .content__workit {
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        position: relative;
    }
    .content__workit h2 {
        font-size: 5em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
        margin: 90px 30px 40px 30px;
    }
    .content__workit p {
        font-size: 1.5em;
        margin: 0 30px 90px 30px;
        letter-spacing: 1px;
    }
    .section-download {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/game_767.jpg");
        background-size: cover;
        background-position: right;
    }
    .container__download {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(09, 12, 53, 0.9);
    }
    .download_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 135px;
        height: 135px;
        background-color: #5e42b0;
        color: #ffffff;
        border-radius: 20px;
        text-transform: uppercase;
        margin-bottom: 80px;
    }
    .download_icon svg {
        height: 90px;
        fill: #ffffff;
    }
    .logo__footer {
        margin-bottom: 20px;
        width: 210px;
    }
    .download__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
    }
    .container__downloadapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 125px 0 285px 0;
    }
    .download__content h2 {
        font-size: 5em;
        color: #ffffff;
        font-weight: bold;
        margin: 0;
        letter-spacing: 1px;
    }
    .download__content p {
        font: 36px "OpenSans-Regular", sans-serif;
        color: #9b8ec1;
        margin: 5px;
        letter-spacing: 0px;
    }
    .section-download .content-main-button {
        margin-bottom: 54px;
    }
}

@media (min-width: 961px) {
    .section-welcome {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/football_1920.jpg");
        background-size: cover;
        background-position: center;
    }
    .container__welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(09, 12, 53, 0.9);
    }
    .logo {
        width: 190px;
        margin-top: 45px;
    }
    .welcome__content {
        text-transform: uppercase;
        color: #ffffff;
        font-weight: bold;
        margin: 295px 9.38vw 225px 9.38vw;
        width: 100%;
    }
    .welcome__name__container {
        font-size: 4.69vw;
        font-weight: bold;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 0 9.38vw 0 9.38vw;
    }
    .welcome__name {
        margin-top: 0;
    }
    .welcome__name__second {
        margin-top: 14px;
        text-align: right;
        display: block;
        line-height: 1.22em;
    }
    .content-main-button {
        display: flex;
        align-items: center;
        margin-bottom: 110px;
    }
    a {
        text-decoration: none;
    }
    .button_appstore {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 315px;
        height: 80px;
        background-color: #5e42b0;
        color: #ffffff;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 0.875em;
        margin-top: 0;
        margin-right: 50px;
    }
    .button_appstore svg {
        width: 50px;
        fill: #ffffff;
        margin-right: 30px;
    }
    .button_googleplay {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 315px;
        height: 77px;
        background-color: #5e42b0;
        color: #ffffff;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 0.875em;
    }
    .button_googleplay svg {
        width: 45px;
        fill: #ffffff;
        margin-right: 30px;
    }
    .athlets__content picture {
        position: absolute;
        top: 20px;
        left: 50vw;
        margin-left: -600px;
    }
    .section-athlets p {
        font-size: 1.25em;
        margin: 0 10.26vw 60px 50vw;
    }
    .container__athlets {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .athlets__content {
        font-weight: bold;
        color: #e7e7e7;
        text-transform: uppercase;
    }
    .athlets__content h2 {
        margin: 120px 10.26vw 20px 50vw;
        font-size: 5em;
        letter-spacing: 1px;
    }
    .number {
        display: flex;
        align-items: center;
        margin: 60px 0 25px 50vw;
        font-weight: bold;
        color: #000000;
    }
    .number span {
        border-bottom: solid 4px #5e42b0;
        font-size: 1.125em;
        margin: 0 10px 0 0;
    }
    .number h3 {
        font-size: 2.25em;
        letter-spacing: 2px;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
        margin: 0;
    }
    .connection {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
    }
    .collaboration {
        display: flex;
        flex-direction: column;
        background-color: #f5f4f9;
    }
    .growth__number {
        display: flex;
        align-items: center;
        margin: 60px 0 25px 50vw;
        font-weight: bold;
        color: #000000;
    }
    .growth__number span {
        border-bottom: solid 4px #ffffff;
        font-size: 1.125em;
        margin: 0 10px 0 0;
    }
    .athlets__growth {
        display: flex;
        flex-direction: column;
        background-color: #5e42b0;
    }
    .athlets__growth h3 {
        font-size: 2.25em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0;
    }
    .athlets__growth p {
        letter-spacing: 1px;
        color: #ffffff;
        line-height: 1.5;
    }
    .players__content picture {
        position: absolute;
        bottom: 0;
        top: 30px;
        right: 10.42vw;
    }
    .section-players p {
        margin: 0 50vw 60px 9.9vw;
        line-height: 1.5;
        letter-spacing: 1px;
        font-size: 1.25em;
    }
    .section-players .number {
        margin: 60px 0 25px 9.9vw;
    }
    .container__players {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .players__content {
        font-weight: bold;
        color: #e7e7e7;
        text-transform: uppercase;
    }
    .players__content h2 {
        font-size: 5em;
        margin: 120px 0 20px 9.9vw;
        letter-spacing: 1px;
    }
    .growth__number__players {
        display: flex;
        align-items: center;
        margin: 60px 0 25px 9.9vw;
        font-weight: bold;
        color: #8765dd;
    }
    .growth__number__players span {
        border-bottom: solid 4px #ffffff;
        font-size: 1.125em;
        margin: 0 10px 0 0;
    }
    .growth__number__players h3 {
        font-size: 2.25em;
        letter-spacing: 2px;
        margin: 0;
    }
    .players__growth {
        display: flex;
        flex-direction: column;
        background-color: #090c35;
    }
    .players__growth h3 {
        font-size: 2.25em;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
    }
    .players__growth p {
        color: #ffffff;
    }
    .container__beactive {
        display: flex;
    }
    .image__beactive {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/be-active_1024.jpg");
        background-size: cover;
        background-position: center;
        width: 50%;
    }
    .content__beactive {
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        position: relative;
        width: 50%;
    }
    .content__beactive h2 {
        font-size: 4.17vw;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
        margin: 260px 9.9vw 120px 130px;
    }
    .content__beactive p {
        font-size: 1.5em;
        margin: 0 9.9vw 245px 130px;
        letter-spacing: 1px;
    }
    .number__box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 170px;
        height: 155px;
        background-color: #5e42b0;
        top: 215px;
        margin-left: -85px;
    }
    .number__box span {
        border-bottom: solid 4px #8f7bc8;
        font-size: 1.5em;
        color: #ffffff;
        font-weight: bold;
    }
    .container__findcontact {
        display: flex;
        flex-direction: row-reverse;
    }
    .container__findcontact .number__box {
        right: 0;
        margin-right: -85px;
    }
    .image__findcontact {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/find-contact_1024.jpg");
        background-size: cover;
        background-position: center;
        width: 50%;
    }
    .content__findcontact {
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        position: relative;
        width: 50%;
    }
    .content__findcontact h2 {
        font-size: 4.17vw;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
        margin: 260px 130px 120px 9.9vw;
    }
    .content__findcontact p {
        font-size: 1.5em;
        margin: 0 130px 245px 9.9vw;
        letter-spacing: 1px;
    }
    .container__workit {
        display: flex;
    }
    .image__workit {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/work-it_960.jpg");
        background-size: cover;
        background-position: center;
        width: 50%;
    }
    .content__workit {
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        position: relative;
        width: 50%;
    }
    .content__workit h2 {
        font-size: 4.17vw;
        font-weight: bold;
        color: #c1c1c1;
        text-transform: uppercase;
        margin: 260px 9.9vw 120px 130px;
    }
    .content__workit p {
        font-size: 1.5em;
        margin: 0 9.9vw 245px 130px;
        letter-spacing: 1px;
    }
    .section-download {
        background-image: url("https://raw.githubusercontent.com/Vasya24/Diploma_2/master/img/game_1280.jpg");
        background-size: cover;
        background-position: right;
    }
    .container__download {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(09, 12, 53, 0.9);
    }
    .container__downloadapp {
        display: flex;
        margin: 230px 9.38vw 155px 9.38vw;
    }
    .download_icon {
        width: 135px;
        height: 135px;
        background-color: #5e42b0;
        color: #ffffff;
        border-radius: 20px;
        text-transform: uppercase;
        margin-right: 35px;
    }
    .download_icon svg {
        height: 90px;
        padding: 23px 18px;
        fill: #ffffff;
    }
    .logo__footer {
        margin-bottom: 50px;
        width: 190px;
    }
    .download__content {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
    }
    .download__content h2 {
        font-size: 5em;
        color: #ffffff;
        font-weight: bold;
        margin: 0;
        letter-spacing: 1px;
    }
    .download__content p {
        font: 30px "OpenSans-Regular", sans-serif;
        color: #9b8ec1;
        margin: 5px;
        letter-spacing: 0px;
    }
    .section-download .content-main-button {
        margin-bottom: 260px;
    }
}
